{{define "users/index.tmpl"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/dwz/index.css">
    <title>Title</title>
</head>
<body>
{{.title | safe}}
<script src="/dwz/index.js"></script>
</body>
</html>
{{end}}